body, html, h2 {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}
#app {
    padding: 0 20px;
    min-width: 320px;
}
.hide {
    visibility: hidden;
}
.el-input+.el-input {
    margin-top: 10px;
    width: 40%;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header h2 {
    font-size: 28px;
}
.operator {
    float: right;
}
.operator.clear-his {
    font-size: 12px;
    padding: 3px 0;
}
.operate {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.operate.add {
    color: #67c23a;
}
.operate.del {
    margin-left: 5px;
    color: #f56c6c;
}

/* content */

.seperate {
    margin: 0 5px;
}

.rules {
    margin-bottom: 20px;
}

.rules-item {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.empty {
    text-align: center;
    color: #ccc;
}

.history {
    margin-top: 20px;
}
.history-list {
    max-height: 200px;
    overflow-y: auto;
}
.history-title {
    font-size: 12px;
    color: #333;
}

.history-item {
    cursor: pointer;
    margin: 0 5px 5px 0;
}